@charset "UTF-8";
.body {
  width: 1440px;
  height: 5189px;
  background: #FFFFFF;
  font-family: "Rubik", sans-serif;
}
.body .header {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.body .header .header__logo {
  margin-left: 150px;
  width: 149px;
  height: 36.23px;
  font-weight: 500;
}
.body .header .menu {
  display: flex;
  align-content: center;
  font-weight: 400;
}
.body .header .menu:first-child {
  margin-left: 157px;
}
.body .header .menu:not(:first-child) {
  margin-left: 40px;
}
.body .header .header_btn_in {
  margin-left: 150px;
  font-weight: 500;
  text-decoration: none;
  color: #0B132A;
}
.body .header .line_out {
  margin-left: 75px;
  border-radius: 50px;
  border: solid 1px #F53855;
  text-decoration: none;
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F53855;
  font-weight: 500;
}
.body .header .line_out .header_btn_out {
  text-decoration: none;
  margin-left: 45px;
}
.body .vpn-hero {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
}
.body .vpn-hero .vpn-hero__img {
  margin-top: 101.49px;
}
.body .vpn-hero .vpn-hero__desc {
  width: 555px;
  height: 140px;
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  color: #0B132A;
  margin-top: 27.66px;
}
.body .vpn-hero .vpn-hero__about {
  height: 60px;
  width: 555px;
  margin-top: 20px;
  color: #4F5665;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.body .vpn-hero .line_out_btn {
  margin-top: 50px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  border: solid 1px #F53838;
  background: #F53838;
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  transition: box-shadow 0.3s ease;
}
.body .vpn-hero .line_out_btn:hover {
  box-shadow: 0 14px 10px rgba(245, 56, 56, 0.35);
}
.body .vpn-hero .line_out_btn .vpn-hero__btn {
  text-decoration: none;
  margin-left: 45px;
}
.body .common-info {
  position: relative;
  width: 1140px;
  height: 200px;
  margin-left: 150px;
  margin-top: 103px;
  display: flex;
  align-items: center;
}
.body .common-info .common-info__quantity {
  display: flex;
  align-items: center;
}
.body .common-info .common-info__quantity .common-info__quantity_pic {
  margin-left: 91px;
}
.body .common-info .common-info__quantity .common-info__quantity_h3 {
  margin-left: 36.5px;
  font-weight: 700;
  color: #0B132A;
}
.body .common-info .common-info__quantity .common-info__quantity_h4 {
  margin-top: -12px;
  margin-left: 36.5px;
  font-weight: 400;
  color: #4F5665;
}
.body .common-info .delimiter {
  border: 2px;
  color: #EEEFF2;
  margin-left: 129px;
}
.body .common-info .common-info__rec_white {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.body .common-info .common-info__shy_grey {
  position: absolute;
  top: 70px;
  left: 0;
  width: 1140px;
  height: 189.22px;
  margin-top: 50px;
  z-index: -2;
}
.body .illustration2 {
  flex-direction: row;
  margin-top: 150px;
}
.body .vpn-hero__success {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.body .vpn-hero__success .vpn-hero__success_desc {
  margin-left: 10.08px;
  font-weight: 400;
  color: #4F5665;
}
.body .vpn-hero__success_desc_plan {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.body .vpn-hero__success_desc_plan .vpn-hero__success_desc_plan_item {
  margin-left: 10.08px;
  font-weight: 400;
  color: #4F5665;
}
.body .describe_plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 80.27px;
}
.body .describe_plan .describe_plan__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  width: 384px;
  height: 50px;
}
.body .describe_plan .describe_plan__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 555px;
  height: 60px;
  color: #4F5665;
}
.body .choose_plan {
  display: flex;
  justify-content: space-around;
}
.body .choose_plan .box {
  margin-left: 150px;
  width: 330px;
  height: 860px;
  border: solid 2px #DDDDDD;
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}
.body .choose_plan .box:hover {
  box-shadow: 2px 2px 2px 2px rgba(245, 56, 56, 0.35), -2px -2px 2px 2px rgba(245, 56, 56, 0.35);
}
.body .choose_plan .box .choose_plan__box_pic {
  margin-top: 79.63px;
}
.body .choose_plan .box-pay {
  flex-direction: column;
  top: 2575px;
  position: absolute;
  font-size: 25px;
  line-height: 30px;
}
.body .choose_plan .box-pay .price {
  font-weight: 500;
  color: #0B132A; /* цвет для цены */
}
.body .choose_plan .box-pay .duration {
  font-weight: 400;
  color: #4F5665; /* цвет для продолжительности */
}
.body .choose_plan .select-button-outline {
  top: 2655px;
  position: absolute;
  width: 178px;
  height: 45px;
  border: solid 2px #F53838;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  color: #F53838;
  transition: box-shadow 0.3s ease;
}
.body .choose_plan .select-button-outline:hover {
  box-shadow: 0 14px 10px rgba(245, 56, 56, 0.35);
}
.body .illustration3-direction {
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
}
.body .Sponsored-direction {
  flex-direction: column;
  text-align: center;
  margin-top: 0;
}
.body .rect {
  width: 450px;
  border-radius: 10px;
  border: solid 2px #DDDDDD;
  margin-top: 60px;
  transition: box-shadow 0.3s ease;
}
.body .rect:hover {
  box-shadow: 2px 2px 2px 2px rgba(245, 56, 56, 0.35), -2px -2px 2px 2px rgba(245, 56, 56, 0.35);
}
.body .rect:first-child {
  margin-left: 60px;
}
.body .rect:not(:first-child) {
  margin-left: 50px;
}
.body .rect-row_h3 {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 0;
}
.body .rect-row_h4 {
  margin-left: 15px;
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
.body .feedback-about {
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
  color: #0B132A;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
}
.body .rect-row-new {
  display: flex;
  align-items: center;
}
.body .rect-row {
  display: flex;
  align-items: center;
}
.body .rect-row_h3-capt {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #0B132A;
}
.body .feedback-body {
  display: flex;
  flex-direction: row;
}
.body .pagination {
  display: flex;
  margin-left: 30px;
  margin-top: 50px;
}
.body .radius {
  width: 60px;
  height: 60px;
  border: solid 2px #F53838;
  border-radius: 50%;
  color: #F53838;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: box-shadow 0.3s ease;
}
.body .radius:hover {
  box-shadow: 2px 2px 2px 2px rgba(245, 56, 56, 0.35), -2px -2px 2px 2px rgba(245, 56, 56, 0.35);
}
.body .material-symbols-outlined {
  cursor: pointer;
}
.body .radius:not(:last-child) {
  margin-left: 1000px;
}
.body .radius:last-child {
  background: #F53838;
  color: #FFFFFF;
}
.body .radius + .radius {
  margin-left: 20px;
}
.body .subscriber {
  display: flex; /* Устанавливаем контейнер flex */
  flex-direction: row-reverse; /* Располагаем элементы в ряд */
  align-items: center; /* Выравниваем элементы по вертикали */
  justify-content: space-around;
}
.body .subscriber .vpn-hero__desc_all {
  margin-left: 150px;
  margin-top: 124px;
}
.body .subscriber .vpn-hero__desc_all .vpn-hero__desc_1 {
  width: 372px;
  height: 80px;
  font-size: 35px;
  line-height: 45px;
}
.body .subscriber .vpn-hero__desc_all .vpn-hero__about_2 {
  width: 410px;
  height: 16px;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}
.body .main-footer {
  width: 1510px;
  background: #F8F8F8;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.body .main-footer .header__logo-foot {
  margin-left: 150px;
  margin-top: 122px;
}
.body .main-footer .vpn-hero__about-footer {
  width: 340px;
  height: 61px;
  margin-left: 150px;
  color: #4F5665;
  font-size: 16px;
  line-height: 30px;
}
.body .main-footer .social {
  display: flex;
  margin-left: 150px;
}
.body .main-footer .social .social_facebook {
  width: 66.6px;
  height: 66.6px;
}
.body .main-footer .header__logo-footer {
  margin-left: 150px;
}
.body .main-footer .menu-footer {
  margin-left: 100px;
}
.body .main-footer .menu-footer li {
  list-style-type: none;
}
.body .main-footer .menu-footer li:first-child {
  font-weight: 500;
  color: #0B132A;
}
.body .main-footer .menu-footer li:not(:first-child) {
  font-weight: 400;
  color: #4F5665;
  margin-top: 20px;
}
.body .main-footer .footer_3 {
  margin-top: 16px;
}
.body .main-footer .footer_4 {
  margin-top: -134px;
}

.vpn-hero__desc,
.vpn-hero__about,
.vpn-hero__success {
  transform: translate(-120%);
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running; /* Запустить анимацию */
  animation-name: slidein;
}

.vpn-hero__desc_anim,
.vpn-hero__about_anim,
.vpn-hero__success_anim {
  transform: translate(120%);
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running; /* Запустить анимацию */
  animation-name: slideright;
}

@keyframes slidein {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideright {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=styles.css.map */
